html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
  padding-bottom: 100px;
}

.starter-template {
  padding: 10px 15px;

}

.intro-msg{
  padding: 30px 0px;
  text-align: justify;
  font-size: 22px;
 

}

.welcome{
	background:url(Black_texture_04-22.jpg) fixed center no-repeat #000000;
	color: #FFFFFF;
}

.welcome-small{
	color: #FFFFFF;
}

/*Nav bar custom*/
.custom-nav{
background-color: #FFFFFF;
border-bottom: solid 1px;
border-bottom-color:#FF6200;
}

.navbar-default .custom-brand{
	color: #FF6200;
	background-color: transparent;
}

.navbar-default .navbar-brand:hover{
	color:	#FF6200;
	background-color:transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	background-color: #FF6200;
	color: #ffffff;	
}

.navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus{
	color:	#FF6200;
	background-color: transparent;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	text-decoration:none;
	color: #ffffff;
	background-color:#FF6200;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open >
 a:hover, .navbar-default .navbar-nav > .open > a:focus {
	border:solid thin #FF6200;
	color: black;
	background-color:transparent;
}

/* Network */
.bg-img{
	background: url(image_bg.png);
}
.network{
	padding-top: 10px;
	padding-bottom:10px;
}

.network-title{
	color:#FF6200;
	
}
.img-ntwrk{
	padding-left:25px;
}

.ntwrk-panel script{
	padding-left:25px;
}	
/* Reflection */
.title-small{color: #FF6200;}

/*Resume*/
.resume-body{
	padding-top: 40px;
	padding-bottom: 10px;
}
.panel-default {
    border-color: #FF6200;  
}
/* Work Exp */
.custom-descrp > p{
	padding-top:10px;
	margin-bottom: 5px;
}
/*code repo*/
.coderepo{
	margin-top:15px;
}
.panel-default > .panel-heading{
	border-color:#FF6200;
	background-color:#FF6200	
}
.panel-title{
	color:#FFFFFf;
}

/* footer */
.custom-footer{
	background-color: #ECECEC;
	border-top: solid #FF6200;
	position:absolute;
  	bottom: 0;
  	width: 100%;
  /* Set the fixed height of the footer here */
  	height: auto;
  
}

.footer-body{
	padding-top: 15px;
}

.btstrap{color:#563D7C}

